*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans' sans-serif;
    box-sizing: border-box;
}
.navbar {
    font-size: 1.15rem;
    font-weight: 500;
    z-index: 1;
    background: wheat;
    min-height: 10vh;
    height: 0rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container-fluid {
        margin: -37px 30px 0px 0px;
    }

    .navbar {
        padding-right: 60px;
        font-size: 1.15rem;
        font-weight: 500;
        z-index: 1;
        background: wheat;
        min-height: 15vh;
        height: 0rem;
    }
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar {
        padding-right: 60px;
        min-height: 12vh;
    }
}

.nav-link {
    color: rgb(176, 128, 31) !important;
    font-weight: 600;
    float: right;
    text-align: left;
    float: right;
    text-align: left;
}
.navbar-toggler{
    background: rgb(238, 133, 133);
    border: none;
    padding: 10px 6px;
    outline: none;
    overflow: none !important;
}
.nav-item
{
    padding: .5rem;
}
.nav-link.active,
.nav-link:hover {
    color: rgb(203, 159, 126) !important;
}

/*---------------------------------- Carousel------------------------------------------*/
.carousel-item{
    height: 32rem;
    background: black;
    background-size: cover;
    position: relative;
    opacity: 0.7;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 70px;
    font-weight: 500;
    font-style: oblique;
    color: rgb(23, 157, 77);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
/*-----------------------------------------------------About.html-----------------------------------*/
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: wheat;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h2{
    color: wheat;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

/*-----------------------------------------------------Post.html-----------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.p-md-5 {
    margin: 145px 0;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .p-md-5 {
         margin: 175px 0;
    }        
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .p-md-5 {
        margin: 125px 0;
    }
    }
