*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans' sans-serif;
    box-sizing: border-box;
}
.navbar {
    font-size: 1.15rem;
    font-weight: 500;
    z-index: 1;
    background: wheat;
    min-height: 10vh;
    height: 0rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container-fluid {
        margin: -37px 30px 0px 0px;
    }

    .navbar {
        padding-right: 60px;
        font-size: 1.15rem;
        font-weight: 500;
        z-index: 1;
        background: wheat;
        min-height: 15vh;
        height: 0rem;
    }
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar {
        padding-right: 60px;
        min-height: 12vh;
    }
}

.nav-link {
    color: rgb(176, 128, 31) !important;
    font-weight: 600;
    float: right;
    text-align: left;
    float: right;
    text-align: left;
}
.navbar-toggler{
    background: rgb(238, 133, 133);
    border: none;
    padding: 10px 6px;
    outline: none;
    overflow: none !important;
}
.nav-item
{
    padding: .5rem;
}
.nav-link.active,
.nav-link:hover {
    color: rgb(203, 159, 126) !important;
}
body{
    background-color: rgb(21, 113, 69);
}
/*-------------------------------------------------------------------ABOUT US---------------------------------------------------------*/
.about-1{
    margin: 80px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-1 p{
    text-align: center;
    padding: 8px;
    color: rgb(226, 204, 204);
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px,30px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .6);
}
.about-item i{
    font-size: 43px;
    margin: 0;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 60px;
    height: 100px;
    background-color: #064022;
    margin: 0 auto;
    border: none;
}
.about-item p{
    margin: 20px;
    padding-left: 35px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.about-item:hover{
    background-color: #0c6da9;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}

.about-item:hoover hr{
    background-color: #fff;
}
.about-item:hoover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}
footer{
    background: #212226;
    padding: 20px;
}
footer p{
    color: #fff;
}




/*---------------------------------- Carousel------------------------------------------*
.carousel-item{
    height: 32rem;
    background: black;
    background-size: cover;
    position: relative;
    opacity: 0.7;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 70px;
    font-weight: 500;
    font-style: oblique;
    color: rgb(23, 157, 77);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
-----------------*/
/*-----------------------------------------------------About.html-----------------------------------*/
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: wheat;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h2{
    color: wheat;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}


/* ---------------------------index.html Homepage css!!--------------------- */

.HomepageContainer {
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 2% 20%;

}

.homepageCarousel {
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 2% 20%;
}

h1 {
    text-align: center;
    padding: 2%;
    margin-top: 10%;
}
.Ourspaceh1{
    color: #00f;
}




/*-----------------------------------------------------Post.html-----------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.p-md-5 {
    margin: 145px 0;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .p-md-5 {
         margin: 175px 0;
    }        
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .p-md-5 {
        margin: 125px 0;
    }
    }
